<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="ngit2" version="2.1.0.20120927" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="RazorEngine" version="3.0.8" targetFramework="net40" />
  <package id="YamlDotNet.Converters" version="1.1.16" targetFramework="net45" />
  <package id="YamlDotNet.Core" version="1.1.16" targetFramework="net45" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.16" targetFramework="net45" />
</packages>